.card {
    background-color: beige;
    width: 160px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .zone{
    width: 100%;
    height: 500px;
  }
  
  li{
    text-decoration: none;
    list-style:none;
    margin: 10px;
  }